<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Центральная городская библиотека имени А. П. Чехова</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<script src="/js/bootstrap.bundle.min.js"> </script>
<div th:replace="~{templates :: page-header}"></div>


<div class="container mt-4">
    <h1>Добавление нового читателя</h1>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:action="@{/readers/add}" th:object="${newReader}" method="post">
        <div class="mb-3">
            <label for="fullName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="fullName" th:field="*{name}" required autocomplete="off">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Телефон</label>
            <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}" required autocomplete="off">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="address" th:field="*{address}" required autocomplete="off">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a th:href="@{/readers}" class="btn btn-secondary">Отмена</a>
    </form>

</div>

</body>
</html>