<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Центральная городская библиотека имени А. П. Чехова</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<script src="/js/bootstrap.bundle.min.js"> </script>
<div th:replace="~{templates :: page-header}"></div>


<h1 class="display-4 text-center mb-5">
    Центральная городская библиотека имени А. П. Чехова
</h1>
<p class="lead ml-5">
    Приложение для управления базой данных библиотеки.
    <br>
    Возможность изменения, добавления и удаления информации о книгах, читателях и истории выдачи.
</p>
</body>
</html>