<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Клиент </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<script src="/js/bootstrap.bundle.min.js"> </script>

<div th:replace="~{templates :: page-header}"></div>

<h1 class="display-4 text-center mb-5">
    Информация о читателе
</h1>

<div class="container">

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:action="@{/readers/{readerId}/edit(readerId=${reader.id})}" th:object="${reader}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Телефон</label>
            <input type="text" class="form-control" id="phone" th:field="*{phoneNumber}">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Адрес</label>
            <input type="text" class="form-control" id="address" th:field="*{address}">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a th:href="@{/readers}" class="btn btn-secondary">Назад к списку</a>
    </form>

</div>

<div class = "container">
    <a th:href="@{/readers/{readerId}/addHistory(readerId=${reader.id})}" class="btn btn-primary float-right mb-3">Добавить Запись в Историю</a>

    <h1> История </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>ID Экземпляра</th>
            <th>ID Читателя</th>
            <th>Дата Выдачи</th>
            <th>Дата Возврата</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="his : ${history}">
            <td th:text="${his.book.isbn}"></td>
            <td th:text="${his.copy.copyId}"></td>
            <td th:text="${reader.id}"></td>
            <td th:text="${his.formattedIssueDate}"></td>
            <td th:text="${his.formattedReturnDate}"></td>
            <td>
                <a th:href="@{/history/{isbn}/{copyId}/{readerId}(isbn=${his.book.isbn}, copyId=${his.copy.copyId}, readerId=${his.reader.id})}"
                   class="btn btn-primary btn-sm">Просмотр</a>
                <a th:href="@{/history/{isbn}/{copyId}/{readerId}/delete(isbn=${his.book.isbn}, copyId=${his.copy.copyId}, readerId=${his.reader.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Вы уверены, что хотите удалить эту запись?')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/readers/{readerId}/delete(readerId=${reader.id})}" class="btn btn-danger float-right"
       onclick="return confirm('Вы уверены, что хотите удалить этого читателя?')">Удалить читателя</a>

</div>



</body>
</html>